
:root{
  --prmiaryColor:hsl(225 ,50%,48%);
  --secondaryColor:hsl(180,17%,95%);
  --colorOne:hsl(15,74%,70%);
  --colorTwo:hsl(28,100%,82%);
--HoverColor:hsl(225,56%,59%);
--WhiteColor:  hsl(0,0%,100%);
--blackColor:  hsl(0,0%,12%);
--textColor:  hsl(240,1%,48%);
--borderColor:  hsl(0,0%,83%);
--WhiteColorDeam:  hsl(0,0%,93%);
--greyBg:  hsl(0,0%,96%);
--greyText:  hsl(145,145,145);
--inputColor:  hsl(330,12%,97%);
--bosShadow:  box-Shadow: rgba(0,0,0,0,0.1) 0px 10px 15px -3px ,rgba(0,0,0.05)
0px 4px 6px -2px;

}
.subscribe{
    background: var(--secondaryColor);
}

.sectionConatiner{
    text-align: center;
}
.inputDiv{
    margin-top: 1rem;
    flex-direction: column;
    background: var(--WhiteColor);
    border-radius: 1rem;
}
.inputDiv input{
border: none;
outline: none;
background: transparent;
padding: 1rem .5rem;
}
.inputDiv ::placeholder{
    font-size: 13px;
    opacity: .5;
}
 .subBtn{
      padding: .7rem 1.5rem;
  background: var(--prmiaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--WhiteColor);
    width: 100%;
    align-items: center;
    font-weight: 500;
}
.subBtn:hover{
    color: var(--WhiteColor);
    font-weight: 700;
}
@media screen and (min-width:480px) {
.sectionConatiner{
    max-width: 80%;
    margin: auto;


}
.inputDiv{
    flex-direction: row;
    padding: 0 .5rem;
    border-radius: 3rem;
}
}

@media screen and (min-width:570px) {
.inputDiv{
    justify-content: space-between;
}
.subBtn{
    max-width: max-content;
}

}