.home{
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}
.mainText{
  color: var(--blackColor);
  font-weight:700;
  font-size: 15px;
  line-height: 2.5rem;
}


.planImg{
  height: 200px;
  margin-left: 50px;


}