
:root{
  --prmiaryColor:hsl(225 ,50%,48%);
  --secondaryColor:hsl(180,17%,95%);
  --colorOne:hsl(15,74%,70%);
  --colorTwo:hsl(28,100%,82%);
--HoverColor:hsl(225,56%,59%);
--WhiteColor:  hsl(0,0%,100%);
--blackColor:  hsl(0,0%,12%);
--textColor:  hsl(240,1%,48%);
--borderColor:  hsl(0,0%,83%);
--WhiteColorDeam:  hsl(0,0%,93%);
--greyBg:  hsl(0,0%,96%);
--greyText:  hsl(145,145,145);
--inputColor:  hsl(330,12%,97%);
--bosShadow:  box-Shadow: rgba(0,0,0,0,0.1) 0px 10px 15px -3px ,rgba(0,0,0.05)
0px 4px 6px -2px;

}

.info{
    background: var(--secondaryColor);
}

.infoContainer .titleDiv{
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    justify-content: space-between;
}
.cardDiv{
    gap:1.5rem;
    margin-top: 3rem;
}
.viewBtn{
      padding: .7rem 1.5rem;
  background: var(--prmiaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--WhiteColor);
}
.singleCard{
    background: var(--WhiteColor);
    padding: 3rem 2rem;
    border-radius: 10rem;
    gap: 1rem;
    text-align: center;
    margin: auto;
    height: 320px;
    width: 90%;
    max-width: 250px;
}

.iconDiv{
    justify-content: center;
    margin: auto;
    background: var(--prmiaryColor);
    width: max-content;
    height: 55px;
    padding: 1rem;
    border-radius: 3rem;
}
.icon{
    color: var(--WhiteColor);
}
.cardTitle{
    color: var(--blackColor);
    font-weight: 700;
}
.colorOne{
    background: var(--colorOne);
}
.colorTwo{
    background: var(--colorTwo);
}

@media screen and (min-width:570px) {
.titleDiv{
    flex-direction: row;
}
h2{
    text-align: left;
    max-width: 500px;
}
.cardDiv{
    grid-template-columns: repeat(2,1fr);
}

}

@media screen and (min-width:768px) {
.infoContainer{
    padding: 0 6rem;

}
.titleDiv{
    width: 90%;
    margin: auto;
    align-items: center;
}
.cardDiv{
    grid-template-columns: repeat(2,1fr);
}
.singleCard{
    max-width: 260px;
padding: 3rem 1rem;
}
}